langchain
langchain_openai
langchain-community
langchain-text-splitters
chromadb
openai
python-dotenv 
tiktoken
pymongo
tqdm
gradio
fastapi
uvicorn
pandas
markdown
gunicorn

# These are needed for the document OCR
# pytesseract
# pdf2image
# openai
# unstructured
# unstructured[local-inference]
# langdetect
# python-dotenv
# tiktoken
# pypdf2
# docx2txt
# pillow
# poppler-utils
# tqdm
# easyocr